.card-wallet{
    padding: 10px 1em;
}

.title-data{
    border: solid .5px #dedede;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
}
.title-data span{
    background-color: rgb(30 66 173);
    border-radius: 3px 0 0 3px;
    padding: 8px 15px;
    font-weight: bold;
    color: white;
    margin-right: 5px;
}

.header{
    height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}
.header a{
    font-size: 13px;
    text-decoration: none;
    padding: 8px 12px;
    margin-right: 10px;
    background-color: rgb(30 66 173);
    color: white;
    border-radius: 4px;
}

.group-button{
    display: flex;
    justify-content: space-around;
}
.group-button button{
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    background-color: rgb(30 66 173);
}